<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="card" style="width: 18rem;">
        <img src="/img/cat.png" class="card-img-top" alt="cat">
        <div class="card-body">
            고양이입니다 고양이입니다고양이입니다고양이입니다고양이입니다고양이입니다
            고양이입니다고양이입니다고양이입니다
        </div>
    </div>
    <div class="card bg-dark text-white">
        <img src="/img/cat.png" class="card-img" alt="cat">
        <div class="card-img-overlay">
            고양이입니다 고양이입니다고양이입니다고양이입니다고양이입니다고양이입니다
            고양이입니다고양이입니다고양이입니다
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="/img/cat.png" class="card-img" alt="cat">
                <div class="card-body">
                    고양이입니다 고양이입니다고양이입니다고양이입니다고양이입니다
                    고양이입니다고양이입니다고양이입니다고양이입니다
                </div>
            </div>
        </div>
    </div>

</body>

</html>