<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <div class="carousel-inner">
            <div class="carousel-item active" id="demo">
                <img class="img-fluid"
                    src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Jammu_kashmir_pangong_lake-1920x1080.jpg"
                    alt="">
                <div class="carousel-caption">
                    <h3>#1</h3>
                </div>
            </div>
            <div class="carousel-item" id="demo">
                <img class="img-fluid"
                    src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Jammu_kashmir_pangong_lake-1920x1080.jpg"
                    alt="">
                <div class="carousel-caption">
                    <h3>#2</h3>
                </div>
            </div>
            <div class="carousel-item" id="demo">
                <img class="img-fluid"
                    src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Jammu_kashmir_pangong_lake-1920x1080.jpg"
                    alt="">
                <div class="carousel-caption">
                    <h3>#3</h3>
                </div>
            </div>
            <div class="active py-5">
                <div class="row pt-5">
                    <em class="col h2 text-white text-center">
                        Welcome to Our Studio!
                    </em>
                </div>
                <div class="row pb-5">
                    <div class="col h1 text-white text-center">
                        IT'S NICE TO MEET YOU
                    </div>
                </div>

                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>

        <div class="container">

            <div class="row mt-5 mx-0 py-1">
                <div class="col h1 text-center">SERVICES</div>
            </div>
            <div class="row mb-5 mx-0 py-1 justify-content-center">
                <div class="col-6 text-center">
                    <em>Lorem ipsum dolor sit amet consectetur.</em>
                </div>
            </div>

            <div class="row mb-5 mx-0 py-5">
                <div class="col-sm-12 col-md-4 col-lg-4 p-4">
                    <div class="row">
                        <div class="col text-center">
                            <figure class="figure">
                                <img src="../../public/img/003.jpeg" alt="plane" class="figure-img img-fluid">
                            </figure>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col h3 text-center">E-Commerce</div>
                    </div>
                    <div class="row">
                        <div class="col px-5 text-center">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo
                            inventore harum ex magni, dicta impedit.
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-4 p-4">
                    <div class="row">
                        <div class="col text-center">
                            <figure class="figure">
                                <img src="../../public/img/003.jpeg" alt="plane" class="figure-img img-fluid">
                            </figure>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col h3 text-center">Responsive Design</div>
                    </div>
                    <div class="row">
                        <div class="col px-5 text-center">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo
                            inventore harum ex magni, dicta impedit.
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-4 p-4">
                    <div class="row">
                        <div class="col text-center">
                            <figure class="figure">
                                <img src="../../public/img/003.jpeg" alt="plane" class="figure-img img-fluid">
                            </figure>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col h3 text-center">Web Security</div>
                    </div>
                    <div class="row">
                        <div class="col px-5 text-center">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo
                            inventore harum ex magni, dicta impedit.
                        </div>
                    </div>
                </div>

            </div>


            <div class="row mt-5 mx-0 p-1">
                <div class="col h1 text-center">PORTFOLIO</div>
            </div>
            <div class="row mb-5 mx-0 p-1 justify-content-center">
                <div class="col-6 text-center">
                    <em>Lorem ipsum dolor sit amet consectetur.</em>
                </div>
            </div>

            <div class="row mb-2 mx-0 py-2">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-4">
                    <div class="row">
                        <div class="col text-center">
                            <figure class="figure">
                                <img src="../../public/img/003.jpeg" alt="plane" class="figure-img img-fluid">
                            </figure>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col h3 text-center">Threads</div>
                    </div>
                    <div class="row">
                        <div class="col px-5 text-center">
                            <em>Illustration</em>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-4">
                    <div class="row">
                        <div class="col text-center">
                            <figure class="figure">
                                <img src="../../public/img/003.jpeg" alt="plane" class="figure-img img-fluid">
                            </figure>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col h3 text-center">Explore</div>
                    </div>
                    <div class="row">
                        <div class="col px-5 text-center">
                            <em>Graphic Design</em>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-4">
                    <div class="row">
                        <div class="col text-center">
                            <figure class="figure">
                                <img src="../../public/img/003.jpeg" alt="plane" class="figure-img img-fluid">
                            </figure>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col h3 text-center">Finish</div>
                    </div>
                    <div class="row">
                        <div class="col px-5 text-center">
                            <em>Identity</em>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-4">
                    <div class="row">
                        <div class="col text-center">
                            <figure class="figure">
                                <img src="../../public/img/003.jpeg" alt="plane" class="figure-img img-fluid">
                            </figure>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col h3 text-center">Threads</div>
                    </div>
                    <div class="row">
                        <div class="col px-5 text-center">
                            <em>Illustration</em>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-4">
                    <div class="row">
                        <div class="col text-center">
                            <figure class="figure">
                                <img src="../../public/img/003.jpeg" alt="plane" class="figure-img img-fluid">
                            </figure>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col h3 text-center">Explore</div>
                    </div>
                    <div class="row">
                        <div class="col px-5 text-center">
                            <em>Graphic Design</em>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-4">
                    <div class="row">
                        <div class="col text-center">
                            <figure class="figure">
                                <img src="../../public/img/003.jpeg" alt="plane" class="figure-img img-fluid">
                            </figure>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col h3 text-center">Finish</div>
                    </div>
                    <div class="row">
                        <div class="col px-5 text-center">
                            <em>Identity</em>
                        </div>
                    </div>
                </div>

            </div>
        </div>


</body>

</html>