<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<ul>
        <li><a href="/byeon/01">01</a></li>
        <li><a href="/byeon/02">02</a></li>
        <li><a href="/byeon/03">03</a></li>
        <li><a href="/byeon/04">04</a></li>
        <li><a href="/byeon/05">05</a></li>
        <li><a href="/byeon/06">06</a></li>
        <li><a href="/byeon/07">07</a></li>
        <li><a href="/byeon/08">08</a></li>
        <li><a href="/byeon/09">09</a></li>
        <li><a href="/byeon/10">10</a></li>
        <li><a href="/byeon/11">11</a></li>
        <li><a href="/byeon/12">12</a></li>
        <li><a href="/byeon/13">13</a></li>
        <li><a href="/byeon/14">14</a></li>
        <li><a href="/byeon/15">15</a></li>
        <li><a href="/byeon/16">16</a></li>
        <li><a href="/byeon/17">17</a></li>
        <li><a href="/byeon/18">18</a></li>
        <li><a href="/byeon/19">19</a></li>
        <li><a href="/byeon/20">20</a></li>
        <li><a href="/byeon/21">21</a></li>
        <li><a href="/byeon/22">22</a></li>
        <li><a href="/byeon/23">23</a></li>
        <li><a href="/byeon/24">24</a></li>
        <li><a href="/byeon/25">25</a></li>
        <li><a href="/byeon/26">26</a></li>
        <li><a href="/byeon/27">27</a></li>
        <li><a href="/byeon/28">28</a></li>
        <li><a href="/byeon/29">29</a></li>
        <li><a href="/byeon/30">30</a></li>        
</ul>
</body>

</html>