<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row m-2">
            <div class="col p-2 bg-warning border border-dark">1 of 2</div>
            <div class="col p-2 bg-warning border border-dark">2 of 2</div>
        </div>
        <div class="row m-2">
            <div class="col p-2 bg-warning border border-dark">1 of 3</div>
            <div class="col p-2 bg-warning border border-dark">2 of 3</div>
            <div class="col p-2 bg-warning border border-dark">3 of 3</div>
        </div>
        <div class="row m-2">
            <div class="col p-2 bg-warning border border-dark">1 of 12</div>
            <div class="col p-2 bg-warning border border-dark">2 of 12</div>
            <div class="col p-2 bg-warning border border-dark">3 of 12</div>
            <div class="col p-2 bg-warning border border-dark">4 of 12</div>
            <div class="col p-2 bg-warning border border-dark">5 of 12</div>
            <div class="col p-2 bg-warning border border-dark">6 of 12</div>
            <div class="col p-2 bg-warning border border-dark">7 of 12</div>
            <div class="col p-2 bg-warning border border-dark">8 of 12</div>
            <div class="col p-2 bg-warning border border-dark">9 of 12</div>
            <div class="col p-2 bg-warning border border-dark">10 of 12</div>
            <div class="col p-2 bg-warning border border-dark">11 of 12</div>
            <div class="col p-2 bg-warning border border-dark">12 of 12</div>
        </div>
        <div class="row m-2">
            <div class="col p-2 bg-warning border border-dark">1 of 13</div>
            <div class="col p-2 bg-warning border border-dark">2 of 13</div>
            <div class="col p-2 bg-warning border border-dark">3 of 13</div>
            <div class="col p-2 bg-warning border border-dark">4 of 13</div>
            <div class="col p-2 bg-warning border border-dark">5 of 13</div>
            <div class="col p-2 bg-warning border border-dark">6 of 13</div>
            <div class="col p-2 bg-warning border border-dark">7 of 13</div>
            <div class="col p-2 bg-warning border border-dark">8 of 13</div>
            <div class="col p-2 bg-warning border border-dark">9 of 13</div>
            <div class="col p-2 bg-warning border border-dark">10 of 13</div>
            <div class="col p-2 bg-warning border border-dark">11 of 13</div>
            <div class="col p-2 bg-warning border border-dark">12 of 13</div>
            <div class="col p-2 bg-warning border border-dark">13 of 13</div>
        </div>
        <div class="row m-2">
            <div class="col p-2 bg-info border border-white text-white">1 of 3</div>
            <div class="col-6 p-2 bg-info border border-white text-white">2 of 3 (wider)</div>
            <div class="col p-2 bg-info border border-white text-white">3 of 3</div>
        </div>
        <div class="row m-2">
            <div class="col p-2 bg-info border border-white text-white">1 of 3</div>
            <div class="col-5 p-2 bg-info border border-white text-white">2 of 3 (wider)</div>
            <div class="col p-2 bg-info border border-white text-white">3 of 3</div>
        </div>
        <div class="row m-2">
            <div class="col-3 p-2 bg-danger border border-white text-white">col</div>
            <div class="col-3 p-2 bg-danger border border-white text-white">col</div>
            <div class="col-3 p-2 bg-danger border border-white text-white">col</div>
            <div class="col-3 p-2 bg-danger border border-white text-white">col</div>
        </div>
        <div class="row m-2">
            <div class="col-8 p-2 bg-danger border border-white text-white">col-8</div>
            <div class="col-4 p-2 bg-danger border border-white text-white">col-4</div>
        </div>
        <div class="row m-2 justify-content-start">
            <div class="col-4 p-2 bg-success border border-white text-white">1 of 2</div>
            <div class="col-4 p-2 bg-success border border-white text-white">2 of 2</div>
        </div>
        <div class="row m-2 justify-content-center">
            <div class="col-4 p-2 bg-success border border-white text-white">1 of 2</div>
            <div class="col-4 p-2 bg-success border border-white text-white">2 of 2</div>
        </div>
        <div class="row m-2 justify-content-end">
            <div class="col-4 p-2 bg-success border border-white text-white">1 of 2</div>
            <div class="col-4 p-2 bg-success border border-white text-white">2 of 2</div>
        </div>
        <div class="row m-2 justify-content-around">
            <div class="col-4 p-2 bg-success border border-white text-white">1 of 2</div>
            <div class="col-4 p-2 bg-success border border-white text-white">2 of 2</div>
        </div>
        <div class="row m-2 justify-content-between">
            <div class="col-4 p-2 bg-success border border-white text-white">1 of 2</div>
            <div class="col-4 p-2 bg-success border border-white text-white">2 of 2</div>
        </div>
        <div class="row m-2">
            <div class="col-sm-8 p-2 bg-warning border border-white text-white">col-sm-8</div>
            <div class="col-sm-4 p-2 bg-warning border border-white text-white">col-sm-4</div>
        </div>
        </div>
    </div>
</body>

</html>