<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!--컨테이너 시작-->
    <div class="container">
        <!--헤더 시작-->
        <div class="row">
            <div class="col" style="text-align: center; font-size: 3em;">Pricing</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6" style="text-align: center;">
                Quickly build an effective pricing table for your potential customers with this Bootstrap example.
                It's built with default Bootstrap components and utillities with little customization.
            </div>
        </div>
        <!--헤더 끝-->
        <!--플랜 시작-->
        <div class="row justify-content-center">
            <!--무료-->
            <div class="col-sm-12 col-md-6 col-lg-4 rounded border">
                <div class="row border-bottom">
                    <div class="col rounded-top bg-light" style="text-align: center;">
                        Free
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: center; font-size: 2em;">$0 / mo</div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <small>10 users included</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <small>2 GB of storage</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <small>Email support</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <small>Help center access</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col m-3 p-1 rounded text-primary border border-primary" style="text-align: center;">
                        Sign up for free
                    </div>
                </div>
            </div>
            <!--프로-->
            <div class="col-sm-12 col-md-6 col-lg-4 rounded border">
                <div class="row border-bottom">
                    <div class="col rounded-top bg-light" style="text-align: center;">
                        Pro
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: center; font-size: 2em;">$15 / mo</div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <small>20 users included</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <small>10 GB of storage</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <small>Priority email support</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <small>Help center access</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col m-3 p-1 rounded text-white border bg-primary" style="text-align: center;">
                        Get Started
                    </div>
                </div>
            </div>
            <!--엔터프라이즈-->
            <div class="col-sm-12 col-md-12 col-lg-4 rounded border">
                <div class="row border-bottom">
                    <div class="col rounded-top bg-light" style="text-align: center;">
                        Enterprise
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: center; font-size: 2em;">$29 / mo</div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <small>30 users included</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <small>15 GB of storage</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <small>Phone and email support</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <small>Help center access</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col m-3 p-1 rounded text-white border bg-primary" style="text-align: center;">
                        Contact us
                    </div>
                </div>
            </div>
        </div>
        <!--플랜 끝-->

</body>

</html>