<!DOCTYPE html>
<html>

<head>
    <div class="container">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <h1 class="display-1">Display 1</h1>
    <h1 class="display-2">Display 2</h1>
    <h1 class="display-3">Display 3</h1>
    <h1 class="display-4">Display 4</h1>
    <p class="h1">h1. heading</p>
    <p>mark 엘리먼트를 사용하여 텍스트를 <mark>강조</mark>할 수 있습니다.</p>
    <p>del 엘리먼트를 사용하여 텍스트에 <del>취소선</del>을 삽입할 수 있습니다.</p>
    <p>em 엘리먼트를 사용하여 텍스트를 <em>이탤릭체</em>로 표시할 수 있습니다.</p>
    <blockquote class="blockquote text-right">
        <p class="mb-0">명언을 꼭 오른쪽 정렬로 쓸 필요는 없지만, 그렇게 쓰면 왠지 좀 멋져 보이는군요.</p>
        <footer class="blockquote-footer">
            이 문서를 작성한<cite title="누군가">누군가</cite>
        </footer>
    </blockquote>
    <ul class="list-inline">
        <li class="list-inline-item">사과</li>
        <li class="list-inline-item">포도</li>
    </ul>
    <dl class="row">
        <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
        <dd class="col-sm-9">Nothing special text, nothing special text, nothing special text.
        </dd>
        <dt class="col-sm-3">123456789012345678901234567890</dt>
        <dd class="col-sm-9">123456789012345678901234567890</dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-4">아무 말 대잔치</dt>
        <dd class="col-sm-8">무궁화 꽃이 피었습니다.</dd>
    </dl>
    <pre><code>&lt;p&gt;Sample text&lt;/p&gt;</code></pre>
</div>
</body>

</html>